<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiry">

	<sql id="searchCondition">
		<choose>
			<when test="title != null and content != null">
				WHERE title LIKE '%'||#{title}||'%' 
				OR content LIKE '%'||#{content}||'%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%'||#{writer}||'%'
			</when>
		</choose>
	</sql>

	<select id="getList" parameterType="inquiryDto" resultType="inquiryDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num,writer,title,content,regdate
				FROM inquiry_board
				<include refid="searchCondition"/>
				ORDER BY num DESC) result1)
		<![CDATA[ 
		WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
		]]>
	</select>
	
	<select id="getCount" parameterType="inquiryDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM inquiry_board
		<include refid="searchCondition"/>
	</select>
	
	<insert id="insert" parameterType="inquiryDto">
		INSERT INTO inquiry_board
		(num,writer,title,content,regdate)
		VALUES(inquiry_board_seq.NEXTVAL, #{writer}, #{title},
			#{content}, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="int" resultType="inquiryDto">
		SELECT result1.*
		FROM
			(SELECT num,writer,title,content,
				TO_CHAR(regdate,'YY.MM.DD HH24:MI') AS regdate,
				LAG(num,1,0) OVER (ORDER BY num DESC) AS prevNum,
				LEAD(num,1,0) OVER (ORDER BY num DESC) AS nextNum
			FROM inquiry_board) result1
		WHERE num=#{num}
			
	</select>
	
	<select id="getData2" parameterType="inquiryDto" resultType="inquiryDto">
		SELECT result1.*
		FROM
			(SELECT num,writer,title,content,
				TO_CHAR(regdate,'YY.MM.DD HH24:MI') AS regdate,
				LAG(num,1,0) OVER (ORDER BY num DESC) AS prevNum,
				LEAD(num,1,0) OVER (ORDER BY num DESC) AS nextNum
			FROM inquiry_board
			<include refid="searchCondition"/>
			) result1
		WHERE num=#{num}	
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM inquiry_board
		WHERE num=#{num}
	</delete>
	
</mapper>










