<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<select id="getList" parameterType="reviewDto" resultType="reviewDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num,writer,title,content,orgFileName,saveFileName,
					fileSize,regdate
				FROM shop_review
				<choose>
					<when test="title != null and orgFileName != null">
						WHERE title LIKE '%${title}%' 
						OR orgFileName LIKE '%'||#{orgFileName}||'%'
					</when>
					<when test="title != null">
						WHERE title LIKE '%'||#{title}||'%'
					</when>
					<when test="writer != null">
						WHERE writer LIKE '%${writer}%'
					</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND ${endRowNum}
	</select>
	
	<select id="getCount" parameterType="reviewDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM shop_review
		<choose>
			<when test="title != null and orgFileName != null">
				WHERE title LIKE '%${title}%' 
				OR orgFileName LIKE '%'||#{orgFileName}||'%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%${writer}%'
			</when>
		</choose>		
	</select>

	<insert id="insert" parameterType="reviewDto">
		INSERT INTO shop_review
		(num, writer, title, content, orgFileName, saveFileName, fileSize, regdate)
		VALUES(shop_review_seq.NEXTVAL, #{writer}, #{title}, #{content}
			#{orgFileName}, #{saveFileName}, #{fileSize}, SYSDATE)
	</insert>
	
	<select id="getData" parameterType="int" resultType="reviewDto">
		SELECT num,writer,title,content,orgFileName,saveFileName,fileSize,regdate
		FROM shop_review
		WHERE num=#{num}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM shop_review
		WHERE num=#{num}
	</delete>	
</mapper>
